* {
    padding: 0;
    margin: 0;
}

body {
    background: rgb(43, 43, 43);
}

video {
    object-fit: fill;
}

/* Container for logo and text */
.containerLogoAndText {
    position: absolute;
    backdrop-filter: blur(15px);
    background-color: rgba(255, 255, 255, 0.15);
    padding: 20px;
    display: flex;
    position: fixed;
    color: #ffffff;
    margin-top: 20px;
    z-index: 2;
}

.secondText {
    position: relative;
    color: #ffffff;
    font-size: 40px;
    z-index: 2;
}

.secondMainText {
    font-size: 30px;
}

/* Main text container */
.containerMainText {
    position: absolute;
    top: 30%;
    left: 30%;
}

.mainText {
    position: relative;
    color: #ffffff;
    font-size: 80px;
    z-index: 2;
}

/* Menu container */
.menu {
    backdrop-filter: blur(15px);
    background-color: rgba(255, 255, 255, 0.15);
    right: 0px;
    padding: 20px;
    width: 240px;
    display: flex;
    position: fixed;
    color: #ffffff;
    margin-top: 20px;
    font-size: 20px;
    z-index: 2;
}

.item {
    position: relative;
    padding-left: 0;
    width: 100%;
}
.item:hover{
color: rgb(178, 178, 178);
font-size: 21px;

}

@keyframes mainBlock {
    0% {
        width: 100%;
        right: 0;
    }
    30% {
        width: 0;
        right: 30%;
    }
    50% {
        width: 9%;
        left: 0;
    }
    100% {
        width: 0;
        left: 100%;
    }
}

@keyframes mainFadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* Media Queries */
@media (max-width: 900px) {

    .mainText {
        font-size: 50px;
    }
    .containerMainText {
        position: absolute;
        top: 30%;
        left: 30%;
    }

}

@media (max-width: 600px) {
    .secondMainText {
        font-size: 20px;
    }
    .mainSlideContender .contenderTitle .titleBox .text {
        font-size: 20px;
    }
    .mainText {
        font-size: 20px;
    }
    .containerMainText {
        position: absolute;
        font-size: 40px;
        top: 20%;
        left: 30%;
    }
   
}

@media (max-width: 450px) {
    .secondMainText {
        font-size: 15px;
    }

}




